.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  transition: transform 0.3s ease;
}

.logo h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  font-size: 2rem;
  animation: colorChange 10s infinite;
}

.navbarScrolled {
  transform: translateY(-100%);
}

/* .logoContainer {
  margin-left: 2rem;
} */

/* Define the color change animation */
@keyframes colorChange {
  0% {
    color: #ffffff; /* Start with white */
  }
  50% {
    color: #ff6b6b; /* Change to a different color */
  }
  100% {
    color: #ffffff; /* Back to white */
  }
}

.logo {
  height: 3rem;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLink {
  color: white;
  text-decoration: none;
  margin: 0 1.5rem;
  padding-bottom: 0.25rem;
  position: relative;
  transition: color 0.3s ease;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navLink:hover,
.active {
  color: #ff6b6b; /* Adjust the active/hover color as needed */
}

.navLink:hover::after,
.active::after {
  transform: scaleX(1);
}