@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

#__next {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

section,
#contact {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  height: 100vh;
}

.snap-start {
  scroll-snap-align: start;
}

.snap-y::-webkit-scrollbar {
  width: 0;
}

.snap-y::-webkit-scrollbar-track {
  background: transparent;
}

#__next::-webkit-scrollbar {
  width: 0;
}

#__next::-webkit-scrollbar-track {
  background: transparent;
}

/* contact us style */
.contact-form {
  padding-top: 10%;
}

h1.title {
  font-size: 5.15rem;
}

div.contact p {
  max-width: 900px;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--foreground);
}

div.contact button{
  margin: 4rem 0 0;
  padding: .75rem 2.5rem;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid transparent;
}

@media screen and (max-width: 932px) {
  .contact-us-desc {
    display: none;
  }

  h1.title {
    font-size: 2.5rem;
  }
  div.contact p {
    font-size: 1.4rem;
  }
  div.contact button{
    padding: .5rem 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  body {
      min-height: 100vh;
  }
  html, body {
      margin: 0;
      padding: 0;
      height: 100%;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  } 
  /* #__next {
    height: 102vh;
  } */
 
  .contact-us-desc {
    display: none;
  }

  h1.title {
    font-size: 3rem;
    line-height: 3rem;
  }
  
}